.saturn {
  position: absolute;
  left: 75%;
  top: 20%;
  margin-bottom: 20px;
  margin-right: 5px;
}

.gravity {
  -webkit-animation: gravity 3s infinite alternate;
  animation: gravity 3s ease infinite alternate;
}

@-webkit-keyframes gravity {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-10px);
  }
}
@keyframes gravity {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-10px);
  }
}

.comet {
  position: fixed;
  left: 95%;
  top: 99px;
}

.cometFly {
  -webkit-animation: comet-fly 10s linear;
  animation: comet-fly 10s linear;
}

@-webkit-keyframes comet-fly {
  0% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(-550px, -150px);
  }
}
@keyframes comet-fly {
  0% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(-550px, -250px);
  }
}

.frame {
  background-image: url("../../assets/images/frame1.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding-top: 26px;
  padding-bottom: 42px;
  max-width: 550px;
}
