@import 'node_modules/react-image-gallery/styles/css/image-gallery.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Monument-regular;
  src: local('MonaspaceKrypton-regular'), url('../assets/fonts/Monument-Regular.ttf') format('truetype');
}

body {
  font-family: 'MonaspaceKrypton-regular';
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  /* outline: 1px solid red; */
}

html {
  scroll-behavior: smooth;
}

.articleProject {
  @apply bg-indigo-700 bg-opacity-80 flex flex-col gap-1 items-center justify-between hover:ring-2 hover:scale-[1.01] duration-200;
}

.shadowProject {
  box-shadow: 2px 2px 10px 0px rgba(255, 255, 255, 0.75);
  -webkit-box-shadow: 2px 2px 10px 0px rgba(255, 255, 255, 0.75);
  -moz-box-shadow: 2px 2px 10px 0px rgba(255, 255, 255, 0.75);
}

.github:hover {
  fill: #000;
}

.about {
  /* flex flex-col gap-3 items-center w-screen p-7 bg-center bg-cover	bg-no-repeat object-contain backdrop-filter backdrop-blur-3xl */
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url('/src/assets/images/aboutbg1.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
